* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Latin Modern Sans', sans-serif;
    padding: 20px;
    background: #edf2f4;
    color:  #2a2c3d;
    font-size: 18px;
    /*#f1f1f1 */
  }

  li{
    margin: 10px 0;
  }

  math {
    font-family: 'Latin Modern Math', sans-serif;
  }
  
  /* Header/Blog Title */
  .header {
    padding: 30px;
    font-size: 20px;
    font-family: 'Latin Modern Sans', sans-serif;
    text-align: center;
    background: white;
  }

  .example {
    color: #035ca5;
    background: #edf2f4;
    padding: 10px;
  }

  .post {
    font-size: 18px;
    font-family: 'Latin Modern Sans', sans-serif;
  }

  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {
    float: left;
    width: 75%;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
  }
  
  /* Fake image */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  
  /* Add a card effect for articles */
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background:white;
    margin-top: 20px;
  }

  /* LINKS */
  /* unvisited link */
  a:link {
    color: #2b2d42;
  }
  /* visited link */
  a:visited {
    color: #095484;
  }
  /* mouse over link */
  a:hover {
    color: #a37106;
  }
  /* selected link */
  a:active {
    color: #800000;
  }

  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
      width: 100%;
      padding: 0;
    }
  }